@inject IResourceManager _ResourceManager
@using PMA.Store_Resources.Resources
@model PMA.Store_EndPoints.Areas.Admin.Models.Masters.AddMasterViewModel

@{
    ViewData["Title"] = _ResourceManager[SharedResource.AddMaster];
}
<div class="row">
    <div class="container py-4">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <i class="fa fa-save">
                        @_ResourceManager[SharedResource.AddMaster]
                    </i>
                </h5>
            </div>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-area="Admin" asp-controller="Master" asp-action="Add" method="post">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input type="text" class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input type="text" class="form-control" asp-for="LastName">
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription"></label>
                    <input type="text" class="form-control" asp-for="ShortDescription">
                    <span asp-validation-for="ShortDescription"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input type="file" class="form-control" asp-for="Photo">
                    <span asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description"></textarea>
                    <span asp-validation-for="FirstName"></span>
                </div>
                <button type="submit" class="btn  btn-outline-success">
                    <span class="fa fa-save"></span>
                    @_ResourceManager[SharedResource.Save]
                </button>
                <a class="btn btn-outline-danger" asp-action="Index" asp-area="Admin" asp-controller="Home">
                    <span class="fa fa-backward"></span>
                    @_ResourceManager[SharedResource.Return]
                </a>

            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
}